*{
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*haeder and footer styling*/
header,footer
{
    width: 100%;
    margin: 0px;
    font-size: 16px;
    padding: auto;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
    height: 100px;
    background-color:  rgb(26, 29, 29);
    color: white;
    bottom: 0;
     margin: 0;
     float: none;
}
header{
    height: 150px;
    background-color: teal;
    color: white;
    padding: 10px;
       
}

/*sidebar stylings*/
.sidebar{
    left: -300px;
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: rgb(26, 29, 29);
    padding: 10px;
    float: left;
    transition: 0.8s;
}
.largeBtn{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border: 1px solid  rgb(26, 29, 29);
    color: white;
    text-align: left;
    transition: 0.2s;
  
}
.largeBtn:hover{
    background-color: teal;
    transform: scale(1.1);
}


/*main body*/
main{
    height:100% auto;
    padding: 20px;
    float: left;
    width: 100%;
    
}
main .icons{
    width: 300px;
    height: 200px;
    border: 1px solid teal;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    float: left;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    box-shadow: 0 4px 4px 2px grey;
    transition: 0.5s;
}
.icons p{display: inline-block;line-height: 170px;}
.icons:hover{
    background-color: thistle;
    transform:scale(1.1);
}


/*form and form containers*/
.container{
    display: none;
}
main #default{display: block;}
.patient{
    display: grid;
    grid-template-columns: repeat(2);
}
span{margin-left: 10px;}
form{   
    padding: 20px;
    text-align: left;
    }
input,select{
    font-size: 18px;
    width: 400px;
    border-radius: 5px;
  }
  /*buttons*/
.btn{
    width:100px;
    height: 40px;
    background-color: #12db6d;
    border-radius: 3px;
}

/*back buttons*/
.close{
    width: 40px;
    height: 40px;
    background-color: transparent;
    color:white;
    font-size: smaller;
    border-radius: 50%;
    border: none;
    transition: 0.2s;
}
.close:hover{background-color:red;
transform: scale(1.2);
}


/*Current updats*/
.currents{
    border: 1px solid black;
    width: 300px;
    text-align: center;
}

main .patient{
    grid-template-areas: "div" "form";
}

/*search/updates*/
main .list{
    width: 90%;
    height: 400px;;
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
}
/*wide containers*/
.containers{
    width: 80%;
    height: 400px;
    border: 1px solid white;
    box-shadow: 4px 5px 3px grey;
    border-radius: 9px;
    text-align: center;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: grey;
    color: black;
    display: inline-block;
    margin: 0 0 100px 0;
    text-transform: capitalize;
    background-color: whitesmoke;
    opacity: 0.8;
}
.containers h2{
    line-height: 100px;
}
/*navigation bar*/
.nav{
    
    background-color:black;
    width: 100%;
    float: none;
    height: 50px;
    margin: 0px;
    color: white;
    line-height: 20px;
}
.nav ul {
    list-style: none;
    display: flex;
    align-content: center;
    margin: 0;  
}
.nav ul li{
    margin: 0;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    transition: 0.5s;
    font-size:19px;
}
.nav ul li:hover{ 
  background-color:teal;
  opacity: 0.9;
  transform: scale(1.1);
}
