/*form design with grids*/
.smart{
    width: 100%;
    border-radius: 5px;
    border:2px solid grey;
   display: grid;
   grid-template-columns: 15% 30% 15% 30%;
   grid-template-rows:50px 50px 50px 50px 50px 50px;
   padding: 20px;
   box-shadow: 3px 3px 2px grey;
   grid-gap: 10px;
   
}

input[type = "text"],[type = "email"],[type = "password"],[type = "date"]{
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;
    height: 30px;
}


select{
box-sizing: border-box;
border-radius: 2px;
height: 30px;
font-size: 18px;
}
.form-head{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-transform: capitalize;

}
/*
#tb1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#tb2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#tb3{
    grid-column-end: 5;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#tb4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#tb5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}*/

#btn1{
    grid-column-start: 4;
    grid-column-end: 5;
}

label{
    font-weight: bold;
    padding: auto;
    margin: 5px;
    text-transform: capitalize;
}
.smart1{
    width: 100%;
    border-radius: 5px;
    display: grid;
   grid-template-rows:50px 50px auto;
   padding: 20px;
    grid-gap: 10px;
}
.confirm_quit{
    display: none;
    width: 40%;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: khaki;
    border-radius: 20px;
    border: 2px solid lightpink;
    text-align: center;
    padding: 30px;
}
.btn_group{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.selected_items{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
 }
.selected_items:nth-child(even){
    background-color: #ddcddd;
}
/*responsiveness*/
@media screen and  (max-width:480px){

    .smart{
        display: unset;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    select{
        width: 100%;
    }
    .confirm_quit{
        width: 90%;
        left: 5%;
        height: 300px;
        top: 10%;
    }
}